.box-40 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8F8;
}
.box-41 {
    width: 900px;
    height: 740px;
}
.box-42 {
    width: 960px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.box-43 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}